Homework/P2/MyPhotosUI/Connected Services/Service/PhotoWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhotoWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PC?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/PC?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/PC?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyPhotos" />
      <xsd:import schemaLocation="http://localhost:8080/PC?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InterfaceWCF_UpdateFileDataByFileIdAndLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileDataByFileIdAndLabel" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_UpdateFileDataByFileIdAndLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileDataByFileIdAndLabelResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_CreateFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFile" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_CreateFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_CreateData_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateData" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_CreateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDataResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_CreateFileData_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileData" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_CreateFileData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileDataResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_RemoveFileById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFileById" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_RemoveFileById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_RemoveDataById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataById" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_RemoveDataById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFileById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileById" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFileById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetDataById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataById" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetDataById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatas" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFileDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileDatas" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFileDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileDatasResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFileDatasByFileId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileDatasByFileId" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFileDatasByFileId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileDatasByFileIdResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFilteredFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredFiles" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFilteredFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredFilesResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFilteredDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredDatas" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFilteredDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredDatasResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFilteredFileDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredFileDatas" />
  </wsdl:message>
  <wsdl:message name="InterfaceWCF_GetFilteredFileDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredFileDatasResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceWCF">
    <wsdl:operation name="UpdateFileDataByFileIdAndLabel">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/UpdateFileDataByFileIdAndLabel" message="tns:InterfaceWCF_UpdateFileDataByFileIdAndLabel_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/UpdateFileDataByFileIdAndLabelResponse" message="tns:InterfaceWCF_UpdateFileDataByFileIdAndLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/CreateFile" message="tns:InterfaceWCF_CreateFile_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/CreateFileResponse" message="tns:InterfaceWCF_CreateFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateData">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/CreateData" message="tns:InterfaceWCF_CreateData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/CreateDataResponse" message="tns:InterfaceWCF_CreateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFileData">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/CreateFileData" message="tns:InterfaceWCF_CreateFileData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/CreateFileDataResponse" message="tns:InterfaceWCF_CreateFileData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFileById">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/RemoveFileById" message="tns:InterfaceWCF_RemoveFileById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/RemoveFileByIdResponse" message="tns:InterfaceWCF_RemoveFileById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDataById">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/RemoveDataById" message="tns:InterfaceWCF_RemoveDataById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/RemoveDataByIdResponse" message="tns:InterfaceWCF_RemoveDataById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileById">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetFileById" message="tns:InterfaceWCF_GetFileById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetFileByIdResponse" message="tns:InterfaceWCF_GetFileById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataById">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetDataById" message="tns:InterfaceWCF_GetDataById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetDataByIdResponse" message="tns:InterfaceWCF_GetDataById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetFiles" message="tns:InterfaceWCF_GetFiles_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetFilesResponse" message="tns:InterfaceWCF_GetFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatas">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetDatas" message="tns:InterfaceWCF_GetDatas_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetDatasResponse" message="tns:InterfaceWCF_GetDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileDatas">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetFileDatas" message="tns:InterfaceWCF_GetFileDatas_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetFileDatasResponse" message="tns:InterfaceWCF_GetFileDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileDatasByFileId">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetFileDatasByFileId" message="tns:InterfaceWCF_GetFileDatasByFileId_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetFileDatasByFileIdResponse" message="tns:InterfaceWCF_GetFileDatasByFileId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredFiles">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetFilteredFiles" message="tns:InterfaceWCF_GetFilteredFiles_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetFilteredFilesResponse" message="tns:InterfaceWCF_GetFilteredFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredDatas">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetFilteredDatas" message="tns:InterfaceWCF_GetFilteredDatas_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetFilteredDatasResponse" message="tns:InterfaceWCF_GetFilteredDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredFileDatas">
      <wsdl:input wsam:Action="http://tempuri.org/InterfaceWCF/GetFilteredFileDatas" message="tns:InterfaceWCF_GetFilteredFileDatas_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/InterfaceWCF/GetFilteredFileDatasResponse" message="tns:InterfaceWCF_GetFilteredFileDatas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InterfaceWCF" type="tns:InterfaceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateFileDataByFileIdAndLabel">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/UpdateFileDataByFileIdAndLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/CreateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateData">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/CreateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFileData">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/CreateFileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFileById">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/RemoveFileById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDataById">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/RemoveDataById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileById">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetFileById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataById">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetDataById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatas">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileDatas">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetFileDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileDatasByFileId">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetFileDatasByFileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredFiles">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetFilteredFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredDatas">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetFilteredDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredFileDatas">
      <soap:operation soapAction="http://tempuri.org/InterfaceWCF/GetFilteredFileDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhotoWCF">
    <wsdl:port name="BasicHttpBinding_InterfaceWCF" binding="tns:BasicHttpBinding_InterfaceWCF">
      <soap:address location="http://localhost:8080/PC" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>