Labs/EFWCFASPL11/Client/Connected Services/ServiceReferencePC/PC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/PC?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPostComment" />
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="post" nillable="true" type="q1:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="post" nillable="true" type="q2:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="UpdatePostResult" nillable="true" type="q3:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="GetPostByIdResult" nillable="true" type="q4:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="GetPostsResult" nillable="true" type="q5:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="comment" nillable="true" type="q6:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="newComment" nillable="true" type="q7:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="UpdateCommentResult" nillable="true" type="q8:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFPostComment" minOccurs="0" name="GetCommentByIdResult" nillable="true" type="q9:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>